
{% extends 'base.html' %}
{% block title %}
    Tasks
{% endblock title %}

{% block content %}
    <div class="task-box">
        <h2>Your Tasks</h2>
        <form class="task-form" action="{{ url_for('tasks.add_tasks')}}" method="POST">
            <input type="text" name="title" placeholder="New task" required>
            <button class="btn" type="submit">Add</button>
        </form>

        {% if tasks %}
            <form action="{{url_for('tasks.clear_tasks')}}" method="POST">
                <button type="submit" class="btn btn-clear">Clear All Tasks</button>
            </form>
            <br>
            <table class="task-table">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Status</th>
                        <th>Change</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks  %}
                       <tr>
                        <td>{{loop.index}}</td>
                        <td>{{loop.title}}</td>

                        <td>
                            <span class="badge {{tasks.status|lower}}">{{task.status}}</span>
                        </td>

                        <td>
                            <form method="POST" action="{{url_for('tasks.toggle_status', task_id=task.id)}}">
                                <button class="btn-small " type="submit">Next</button>
                            </form>
                        </td>
                       </tr> 
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No tasks yet. Add one above!</p>

        {% endif %}
    </div>

    
{% endblock content %}